/*color pallete 
https://colorhunt.co/palette/3b1e549b7ebdd4bee4eeeeee/


 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
    font-family: Verdana, Tahoma, sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: Verdana, Tahoma, sans-serif;
   
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.w-60{
    width: 60%;
}
.w-80{
    width: 80%;
}
.w-100{
    width: 100%;
}
.main{
    background-color: #EEEEEE;
}
.nav{
 background-color: #EEEEEE;
}
.navbar-link{
    padding: 0 15px 12px;
    cursor: pointer;
  text-decoration: none;
  text-align: center; 
  color: rgba(59, 30, 84,0.5);
  font-size: 1.3rem;
    border: none;
    background-color: #EEEEEE;
}
.navbar-link:hover{
    color: rgba(59, 30, 84,9);
}
.fa{
    font-size: 1.5rem;
    padding:10px;
}
.navbar-list{
    padding: 15px;
    /* justify-content: space-around; */
}
.navbar-store{
    justify-content: end;
    align-items: center;
}
.navbar-search{
align-items: center;
}
.navbar-links a{
    /* border-bottom: 1px solid black ;
     */
}
.navbar-links a:hover{
    border-bottom: 2px solid rgba(0,0,0,0.5) ;
}
.border-left{
    border-left: 1px solid  rgba(  59, 30, 84,0.8);
}
.border-right{
    border-right: 1px solid  rgba(  59, 30, 84,0.8);
}
.border-bottom{
    border-bottom: 1px solid  rgba(  59, 30, 84,0.8);
}
.border-top{
    border-top: 1px solid  rgba(  59, 30, 84,0.8);
}
/* .fa:hover{
    color: rgba(59, 30, 84,9);
    cursor: pointer;
} */
.navbar-item{
    display: inline-block;
}
.navbar-logo img{
    /* width: 150px; */
    height: 150px;
}
.col-sm-3{
    width: 33.3%;
}
.mask{
    background-color: rgba(0,0,0,0.5); 
    width: 100%;
    height: 100%;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
    align-items: center;
}
.h-100{
    height: 100%;
}
.justify-content-space-btwn{
    justify-content: space-between;
}
.f-direction-col{
    flex-direction: column;
}
.f-direction-row{
    flex-direction: row;
}
.active{
    color: rgba(59, 30, 84,9);
    border-bottom: 2px solid rgba(0,0,0,0.5) ;
}
.navbar-button{
    align-items: center;
    display: none;
}
.active:hover{
    cursor:default;
}
.small-font {
  font-size:0.7rem;
}
.navbar-logo-top{
    display: none; 
}
.navbar-logo-top img{
    height: 150px;
}
.navbar-search-store{
    display: none;
}
.login-text{
    padding: 0px 15px;
    font-weight: bold;
    font-size: 1.5rem; 
    text-align: center;
    color: rgba(  59, 30, 84, 0.5);
}
.login-active{
    cursor: default;
    color: rgba(  59, 30, 84,1);
}
.login-text-body{
    width: 100%;
    padding: 20px 0px;
}
.button{
    cursor: pointer;
    padding: 0;
    border: none;
    /* background-color: #EEEEEE; */
}
.button:hover h1{
    color: rgba(  59, 30, 84,1);
}
#register_btn{
  
}
#loginbutton{

  text-align: center;
}
.login-page {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    display: flex;
    align-items: center;
}
.hidden {
    display: none;
}
.dialog-body{
    /* justify-content: space-evenly; */
    align-items: center;
    position: relative;
    background-color:#EEEEEE ;
    box-shadow: 0 2px 14px 0 rgba(220,136,136,.2);
    width: 20%;
    height: 50%;
    border-radius: 20px;
}
.dialog-body-close{
    justify-content: end;

    width: 96%;
}
#login_btn_close{
 background-color: rgba(  59, 30, 84, 0);
    cursor: pointer;
    /* border-radius: 25px; */
    border: none;
    color: rgba(  59, 30, 84,0.5);   
}  
#login_btn_close:hover{
    color: rgba(  59, 30, 84,1);
  
}
.form{
    height: 80%;
    width: 75%; 
    justify-content: space-evenly;
}
.form-input{
    width: 100%;
    height: 28px;
    border: none;
    text-decoration: none;
    border-bottom: 2px solid rgba(  59, 30, 84,0.5);
    color: rgba(  59, 30, 84,0.5);
    background-color: #EEEEEE;
}
.form-submit {
    background-color: rgba(  59, 30, 84,0.5);
    border: none;
    cursor: pointer;
    height: 28px;
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    color: rgba(  59, 30, 84,1);
}
.form-submit:hover{
    background-color: rgba(  59, 30, 84, 0.8);
}
.show{
    display: flex;
}

.image-article {
    /* padding: 15px;  */
    border-radius: 25px;
   width: 100%;
  
}
.article{
   padding: 15px 0;
}
.btn-left{

}
.btn-right{
justify-content: right;
}


.active-selected-image{
   background-color: rgba(  59, 30, 84,1);
}

.fa-period{
   border: 2px solid rgba(  59, 30, 84,0.5);
   border-radius: 25px;
   padding: 4px;
   
}
.wrap{
   display: flex;
   flex-wrap: wrap;
}

.shop-dialog-center{

}
.product-price{
    width: 80%;
   text-align: left;
   font-size: 1.2rem;
   font-weight: 500;
   color: rgba(  59, 30, 84,1);
   font-family: "saira condensed";
}
.product-name{
   font-size: 1.1rem;
   padding: 15px 0;
   text-align: center;
   color: rgba(  59, 30, 84,1);
}
.shop-dialog{
   width: 20%;
   padding: 20px 0px;
   cursor: pointer;
   border:1px solid rgba(  59, 30, 84, 0);

}
.image-shop{
    width: 80%;

   border-radius: 25px;
}
.product-dialog{

}
@media only screen and (max-width: 1400px) {
    .shop-dialog{
        width: 20%;
    }
    .image-shop{
        width: 80%;
    }

 .login-text{
    font-size: 1.2rem;
    padding: 0 10px;
 }
 .dialog-body{
    width: 30%;
}
}
@media only screen and (max-width: 900px) {
    .shop-dialog{
        width: 30%;
    }
    .product-price{
        width: 90%;
    }
    .dialog-body{
        width: 40%;
    }
    /* .login-text{
        font-size: 0.7rem;
   
    } */
    .navbar{
        justify-content: space-around;
 
    }
    .navbar-search{
        display: none;
    }
    .navbar-button{
        display: flex;
    }
    .navbar-logo-top{
        display: flex;
    }
    .navbar-logo{
        display: none;
    }
    .navbar-search-store{
        display: flex;
    }
    .navbar-list{
        flex-direction: column;
      
    }
    .navbar-links {
        text-align: center;
       align-items: center;
    }
    .navbar-item{
        padding: 10px;
    }
    .show{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .shop-dialog{
        width: 45%;
    }
    .image-shop{
        height: 100px;
        width: 100px;
    }

    .navbar{
        width: 100%;
    }
    .login-text{
        font-size: 0.7rem;
    }
    .dialog-body{
        width: 60%;
    }
}
.product-button{
    height: 80%;
    border: none;
    background-color: rgba( 233,233,233,0);
    cursor: pointer;
}
.shop-dialog:hover{
    background-color: rgba(230, 230, 230,1 );
    border:1px solid rgba( 233,233,233,1);
    border-radius: 50px;
 
}

.error{
    color: red;
    text-align: center;
}

.product-site{
padding: 15px;

}

.dialog-product-price{
    
        width: 100%;
       text-align: left;
       font-size: 2rem;
       font-weight: 500;
       color: rgba(  59, 30, 84,1);
       font-family: "saira condensed";
    
}

.dialog-product-button{
    background-color: rgba(233,233,233,1);
    border-radius: 50px;
    padding-top: 15px;
}
.product-image {
    width: 50%;
}
.product-image img{
    padding: 15px;
    width: 90%;
    height: auto;
    border-radius: 50px;
}
.dialog-spec{
    padding: 15px;
}
.product-specification{
    padding: 15px;
}
.product-description{
    padding: 15px;
    text-align: center;
}

.product-text{
    font-size: 1.2rem;
    color: rgba(  59, 30, 84,1);

}


.product-text-topic{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(  59, 30, 84,1);

}
